- import jekytrum.model.Entry
- val entry = at("entry").asInstanceOf[Entry]

!!! 5
html
  head
    != xitrumCss

    meta(content="text/html; charset=utf-8" http-equiv="content-type")
    title ={entry.title}

    link(rel="shortcut icon" href={publicUrl("favicon.ico")})

    link(type="text/css" rel="stylesheet" media="all" href={webJarsUrl("bootstrap/3.2.0/css", "bootstrap.css", "bootstrap.min.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("app.css")})

  body
    .container
      != renderedView

    .footer
      p = "lastModified:" + entry.lastModified
      p = "categories:" + entry.categories

    .sameCategory
      != at("entries")

    .backtoTop
      a(href="/") top