- import jekytrum.view.ViewHelper
- import jekytrum.model.Entry
- val act = currentAction.asInstanceOf[ViewHelper];

!!! 5
html
  head
    != xitrumCss

    meta(content="text/html; charset=utf-8" http-equiv="content-type")
    title jekytrum
    link(rel="shortcut icon" href={publicUrl("favicon.ico")})

    link(type="text/css" rel="stylesheet" media="all" href={webJarsUrl("bootstrap/3.2.0/css", "bootstrap.css", "bootstrap.min.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("app.css")})

  body

    h1 Custome Root Index

    .container
      != at("entries")

    != act.listCategories